<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Layout</title>
    <link rel="stylesheet" type="text/css" href="/static/css/videogallery.css" />
</head>
<body>
    <div id="site">
        {{ block('content') }}
    </div>
</body>
</html>
